h1{ text-align: center;
background-color: cornflowerblue;
color: darkviolet;}
body{background-color: darkslategray;
color:yellowgreen; width: 80%; margin: auto; border: 10px white dotted; padding: 15px;}

pre{text-indent:150px ;}

PRE{color:orange;}
.fav{color: bisque; font-family: cursive; font-style: italic; font-weight: 500;}

span{ color:lightcoral; font-family: fantasy; }






